<div>Edgerunner Homepage</div>
{{#each convos}}
<div>{{this.ER}}</div>
<div>{{this.CH}}</div>
<div>{{this.RM}}</div>
<div>{{this.D}}</div>
{{/each}}

{{!--
ER: user.N,
CH: otherUser.N,
RM: recentMessage.M,
D: recentMessage.D
--}}