<div class='fullHeight flexCenter alignCenter'>
    <div>
        <span class='fourOhFourFont' id='caption'></span><span class='fourOhFourFont' id='cursor'>|</span>
    </div>
</div>
<script src='/JS/typing.js'></script>