<link rel='stylesheet' href='/CSS/glitchText.css'>

<h1 class='glitch'>Kairos</h1>

<form id='idInput'>
    <div>
        <input name='erId' class='matrixInput' maxlength='20'>
    </div>
    <button type='submit' class='matrixButton'>Submit</button>
</form>

<script src='/JS/scripts.js'></script>