<link rel='stylesheet' href='/CSS/glitchText.css'>

<canvas class='matrixRain'>
</canvas>

<div class='flexCenter headerContainer'>
    <h1 class='glitch'>Kairos</h1>
</div>

<form id='idInput'>
    <div class='flexCenter'>
        <input name='erId' class='matrixInput topZIndex' maxlength='20'>
    </div>
    <div class='flexCenter'>
        <button type='submit' class='matrixButton topZIndex'>Submit</button>
    </div>
</form>

<script src='/JS/matrix.js'></script>
<script src='/JS/scripts.js'></script>