<h1>Title</h1>
<div class='messageLog'>
    {{#each messageLog}}
    <div class='message'>{{this.M}}</div>
    {{/each}}
</div>
<input id='caret' class='caretjs' maxlength='15'>

<script src='/JS/caret.js'></script>
<script src='/JS/initCaret.js'></script>