body {
    font-family: Iceland, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-family: Iceland, Arial, Helvetica, sans-serif;
    color: #03A062;
}

a {
    text-decoration: none;
    color: #03A062;
}

body,html {
    margin: 0;
    padding: 0;
    background-color: black;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 10px;
}

textarea {
    font-family: Iceland, Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}

.topZIndex {
    position: relative;
    z-index: 100;
}

/* Home Page */
.fullHeight {
    height: 100vh;
}

.flexCenter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.newFlexLine {
    flex-basis: 100%;
    height: 0;
}

.spacer {
    height: 50px;
    background-color: #03A062;
    margin-bottom: 50px;
    opacity: 0.2;
}

.alignCenter {
    align-items: center;
}

.fourOhFourFont {
    font-size: 36px;
}

.alignEnd {
    align-items: flex-end;
}

.headerContainer {
    height: 35%;
}

/* Input Styling */
.matrixInput {
    margin-top: 15px;
    border-radius: 1px;
    font-family: Iceland, Arial, Helvetica, sans-serif;
    color: #03A062;
    background-color: black;
    border: 1px solid #03A062;
    font-size: 30px;
    width: 300px;
}

.matrixInput:focus {
    outline-color: #03A062;
}

.matrixButton {
    margin-top: 15px;
    margin-right: 25px;
    border-radius: 1px;
    color: #03A062;
    background-color: black;
    border: 1px solid #03A062;
    font-family: Iceland, Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.matrixButton:hover {
    color: #000;
    background-color: #03A062;
    border: 1px solid #000;
}

/* ER Homepage */
.convoContainer {
    padding: 70px 100px;
    display: flex;
    flex-wrap: wrap;
}

.convoBox {
    font-size: 22px;
    width: 350px;
    height: 150px;
    border: 1px solid #03A062;
    border-radius: 2px;
    padding: 3px 10px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 40px;
    transition: all .2s ease-in-out;
    background-color: #05070A;
    cursor: pointer;
}

.convoBox:hover {
    transform: scale(1.1);
}

.smallBox {
    height: 50px;
}

.bottomLine {
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    transform: translate(-50%);
}

.recentMessage {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    height: 90px;
}

#binaryBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
    opacity: 20%;
  }

/* Message page */
.messageLog {
    position: relative;
    margin: 10px 250px 0 250px;
    background-color: rgba(5, 7, 10, 0.85);
    height: 75%;
    border: 1px #03A062 solid;
    border-radius: 2px;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.message {
    font-size: 22px;
    font-family: Iceland, Arial, Helvetica, sans-serif;
    margin: 7px 35px;
    padding: 10px 35px;
    border-radius: 7px;
    white-space: pre-line;
}

.npcMessage {
    background-color: rgb(26, 0, 44);
    margin-right: 300px;
}

.pcMessage {
    background-color: #021d33;
    margin-left: 300px;
}

.messageName {
    font-size: 18px;
    margin-left: -20px;
    margin-top: -15px;
    border-bottom: 1px solid rgba(3, 160, 98, 0.45);
    width: 100px;
    overflow-x: hidden;
}

.inputButtonContainer {
    display: flex;
    justify-content: center;
}

.messageButton {
    height: 40px;
    margin-top: 20px;
}

.messageInput {
    width: 750px;
    margin-right: 25px;
}

.hidden {
    display: none;
}

/* Matrix Rain */
.matrixRain {
    position: absolute;
    z-index: 0.5;
}

@media only screen and (max-width: 1200px) {
    .messageLog {
      margin: 10px 0;
    }
}

@media only screen and (max-width: 900px) {
    .messageLog {
      margin: 10px 0;
    }
    .inputButtonContainer {
        margin: 0;
        margin-left: 10px;
    }
    .messageInput {
        height: 125px;
    }
    .npcMessage {
        margin-right: 50px;
    }
    .pcMessage {
        margin-left: 50px;
    }
    .smallOwnLine {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .convoContainer {
        padding: 0;
    }
    .convoBox {
        margin-left: 5%;
    }
}

/* Fonts */
/* 
font-family: 'Iceland', cursive;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Major Mono Display', monospace; 
*/