body {
    font-family: Iceland, Arial, Helvetica, sans-serif;
    cursor: url('../Images/MatrixCur.cur'), auto;
    overflow-x: hidden;
    font-family: Iceland, Arial, Helvetica, sans-serif;
    color: #03A062;
}

a {
    text-decoration: none;
    color: #03A062;
}

body,html {
    margin: 0;
    padding: 0;
    background-color: black;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 10px;
}

textarea {
    font-family: Iceland, Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}

.topZIndex {
    z-index: 100;
}

/* Home Page */
.fullHeight {
    height: 100vh;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.fourOhFourFont {
    font-size: 36px;
}

.alignEnd {
    align-items: flex-end;
}

.headerContainer {
    height: 35%;
}

.erNameHeader {
    height: 10%;
}

/* Input Styling */
.matrixInput {
    margin-top: 15px;
    border-radius: 1px;
    font-family: Iceland, Arial, Helvetica, sans-serif;
    color: #03A062;
    background-color: black;
    border: 1px solid #03A062;
    font-size: 30px;
    cursor: url('../Images/TextCursor.cur'), auto;
    width: 300px;
}

.matrixInput:focus {
    outline-color: #03A062;
}

.matrixButton {
    margin-top: 15px;
    border-radius: 1px;
    color: #03A062;
    background-color: black;
    border: 1px solid #03A062;
    font-family: Iceland, Arial, Helvetica, sans-serif;
    font-size: 35px;
    cursor: url('../Images/MatrixPointer.cur'), auto;
}

.matrixButton:hover {
    color: #000;
    background-color: #03A062;
    border: 1px solid #000;
}

/* ER Homepage */
.convoContainer {
    padding: 70px 100px;
    display: flex;
    flex-wrap: wrap;
}

.convoBox {
    font-size: 22px;
    width: 350px;
    height: 150px;
    border: 1px solid #03A062;
    border-radius: 2px;
    padding: 3px 10px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 40px;
    transition: all .2s ease-in-out;
    background-color: #000;
}

.convoBox:hover {
    transform: scale(1.1);
}

.bottomLine {
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    transform: translate(-50%);
}

.recentMessage {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
}

#binaryBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 25%;
  }

/* Message page */
.messageLog {
    height: 50%;
    background-color: red;
}

.message {
    font-size: 20px;
    font-family: Iceland, Arial, Helvetica, sans-serif;
}

/* Matrix Rain */
.matrixRain {
    position: absolute;
    z-index: 0.5;
}

/* 404 Styling */
.fourOhFour {

}

/* Fonts */
/* 
font-family: 'Iceland', cursive;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Major Mono Display', monospace; 
*/